/* src/App.css */
body {
  font-family: Arial, sans-serif;
  background-color: #ffe4e1;
  margin: 0;
  padding: 0;
  text-align: center;
}

header {
  background-color: #fbc4ab;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h1 {
  color: #f9629f;
  font-size: 36px;
}

.profile-img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 5px solid #ddd;
  margin: 20px auto;
}

.section {
  background-color: white;
  width: 50%;
  margin: 20px auto;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.section h2 {
  color: #ff69b4;
}

.contact a {
  color: #007bff;
  text-decoration: none;
}

.contact a:hover {
  text-decoration: underline;
}
